/* The Odin Project: Landing Page Project 
   Alex Tresselt 6-8-22 */


body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header Section ---------------------*/
.header {
    display: flex;    
    height: 72px;
    color: #E5E7EB;
    background-color: #1F2937;
    flex-direction: row;
    align-items: center;   
    justify-content: space-between; 
}

.header img {
    margin-left: 64px;
    height: 50px;
    width: 50px;
}

.header ul {
    list-style-type: none;
    margin-right: 64px;
    padding: 0;
}

.header a { 
    color: #E5E7EB;
    text-decoration: none;
    font-size: 24px;
    padding: 16px;

}

.header li {
    float: left;
}

/* Main Section ---------------------*/
.main {
    display: flex;   
    flex-direction: row; 
    background-color: #1F2937;
    color: #F9FAF8;
    height: 300px;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.intro {
    display: flex;
    flex-direction: column;
}

.intro h1 {
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 5px;
}

.intro p {
    font-size: 18px;
    margin-top: 5px;
    color: #E5E7EB;
}

.intro button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 8px;
    height: 25px;
    width: 100px;
    border: 0;
    font-weight: bold;
}

.main img {
    height: 200px;
    width: 350px;
}

/* Info Section ---------------------*/
.info {
    display: flex; 
    flex-direction: column;   
    background-color: #F9FAF8;
    color: #1F2937;
    height: 300px;
    text-align: center;

}

.boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.ibox {
    width: 100px;
    height: 100px;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ibox img {
    width: 100px;
    height: 100px;
    border: 3px solid #3882F6;
    border-radius: 6px;

}

.ibox p {
    margin-top: 5px;
}

/* Quote Section ---------------------*/
.quote {
    display: flex; 
    flex-direction: column;
    flex: 1;
    height: 300px;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;  
    color: #1F2937;
    font-weight: lighter;

}

.quote p {
    width: 700px;
    font-size: 36px;
    font-style: italic; 
    margin-bottom: 0px;
}

.quote h2 {
    width: 700px;
    text-align: right;
    margin-top: 0px;
}

/* Call to Action Section ---------------------*/
.action {
    display: flex;
    color: #1F2937;
    height: 300px;
    width: 100%;
    flex: 1;
    justify-content: center;
    align-items: center;
       
}

.boxinbox {
    display: flex;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 8px;
    height: 150px;
    width: 600px;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 0px;
}

.actiontext {
    display: flex;
    flex-direction: column;
}

.actiontext h1 {
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: 0px;
}

.actiontext p {
    font-size: 18px;
    margin-top: 5px;
    color: #E5E7EB;
}

.boxinbox button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 8px;
    border: 1px solid #F9FAF8;
    height: 25px;
    width: 100px;
    font-weight: bold;
}

/* Footer Section ---------------------*/
.footer {
    display: flex;
    color: #E5E7EB;
    background-color: #1F2937;    
    text-align: center;

    height: 72px;
    align-items: center;
    justify-content: center;
}

